header {
    margin: 45px;
    margin-left: 140px;
    width: 100%;    
    display: flex;
    justify-content: ;
}
a {
    text-decoration: none;
}
li {
    text-decoration: none;
    list-style: none;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}